---
import Layout from "../layouts/Layout.astro";
import Code from "../components/Code.astro";
import { API_URL, SERVER_URL } from "../consts";

interface Paste {
  lang: string;
  content: string;
  time: string;
}

const { token } = Astro.params;

if (typeof token === "undefined") {
  throw new Error("No token provided");
}

const resp = await fetch(`${API_URL}/paste/${token}`);

if (resp.status !== 200) {
  return Astro.redirect("/404");
}

const res: Paste = await resp.json();

const pasteTime = new Date(res.time).toLocaleString();
---

<Layout title="PastePlz" prism>
  <div class="container">
    <div class="toolbar">
      <div>
        <button id="copy">Copy</button>
        <button id="share">Share</button>
      </div>
      <span><span class="time-tip">Paste Time: </span>{pasteTime}</span>
    </div>
    <Code {...res} />
  </div>
</Layout>

<script define:vars={{ content: res.content, token, SERVER_URL }}>
const listen = (id, content) => {
  const copy = (text) => navigator.clipboard.writeText(text);

  const btn = document.getElementById(id);

  if (btn === null) {
    throw new Error("button not found");
  }

  btn.addEventListener("click", () => copy(content));
};

listen("copy", content);
listen("share", `${SERVER_URL}/${token}`);
</script>

<style>
.container {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  font-size: 1.25rem;
}

.toolbar button {
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .time-tip {
    display: none;
  }

  .toolbar {
    margin: 0.75rem 0;
    font-size: 1rem;
  }

  .toolbar button {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .toolbar {
    flex-direction: column;
    justify-content: center;

    margin: 0.5rem 0;
    font-size: 0.8rem;
  }

  .toolbar button {
    font-size: 0.8rem;
  }
}
</style>
